header {
  background-color: #ffe500;
  text-align: center;
}

h1 {
  color: #b20953;
  font-size: 3rem;
}

h2 {
  color: #b20953;
  font-size: 1.875rem;
}

nav li {
  display: inline;
}

a {
  color: #fff;
  font-family: Georgia;
  background-color: #b2a212;
}
