header {
  background-color: #ffe500;
  text-align: center;
}

h1 {
  color: #cc1465;
  font-family: "Sigmar One";
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h2 {
  color: #cc1465;
  font-size: 1.875rem;
  font-family: "Sigmar One";
}

nav li {
  display: inline-block;
  margin-bottom: .3em;
}

a {
  color: #fff;
  font-family: Georgia;
  background-color: #b2a212;
  margin: 0;
  padding: .2em .5em .3em;
  font-size: 1.125rem;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
}

body {
  margin: 0;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav .current {
  background-color: #cc1465;
}

a:hover {
  background-color: #cc1465;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .75em;
  font-size: .75rem;
  font-family: Georgia;
}
